@import 'mq'
@import 'functions'
@import 'keyframes'

$colors = {}

.special
  position: relative
  z-index: 99
  width: 1080px
  max-width: 100%
  font-family: 'Roboto', sans-serif
  font-size: 16px
  line-height: normal
  text-size-adjust: 100%
  background-color: #fff
  overflow: hidden

  button
    font-family: inherit
    font-size: inherit
    font-weight: inherit
    border-radius: 0
    border: none
    user-select: none
    outline: none
    appearance: none
    cursor: pointer

  .likely

    &--custom
      display: flex

    &__widget
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: center
      min-width: 54px
      height: 44px
      color: #000
      border: 1px solid currentColor
      background-color: #fff
      cursor: pointer
      transition: opacity .2s

      &:not(:last-child)
        margin-right: 10px

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

    &__counter
      display: none

    &__icon
      background-color: transparent

      & svg
        display: block
        width: 24px
        height: @width
        fill: currentColor

      &--vkontakte

        & svg
          width: 28px
          height: @width

    &__button
      display: none

  &.is-not-feed .likely

    @media $mq.desktop

      &__widget
        height: 54px

        &--facebook
          padding: 0 20px 0 8px

      &__icon--facebook
        margin-right: 6px

      &__button
        display: block
        font-size: 18px
        line-height: 1
